body{
  /* background-color: #E3FDFD; */
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  margin: 50px auto 0 auto ;
  font-family: 'Sacramento',cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat',sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
}
.pro{
  text-decoration: underline;
}
.topcont{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.bottom-container{
  padding-top: 40px;
  padding-bottom: 30px;
  position: relative;
  background-color: #66BFBF;
  /* display: flex; */
  color: #11999E;
}
.bottomcloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.topcloud{
  position: absolute;
  top: 50px;
  right: 300px;
}
.profImg{
  width: 25%;
}
.profile{
  width: 40%;
  margin: 100px auto 100px auto;
  line-height: 2;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.cpp{
  width: 20%;
  float: left;
  margin-right: 30px;
}
.python{
  width: 20%;
  float: right;
  margin-left: 30px;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 7.5px;
  width: 5%;
}
.contact_me{
  width: 50%;
  line-height: 2;
  margin: 50px auto 50px auto;
}
.btn{
  background-color: #11999E;
  color: white;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  font-family: sans-serif;

}
.endcredits{
  color: #EAF6F6;
}
.footer-link{
  padding: 20px;
  text-decoration: none;
}
